@import (css) "../fonts/roboto/Roboto.css";//roboto font
@import (css) "../fonts/font-awesome/css/font-awesome.min.css";//font-awesome icons

html,
body {
	height: 100%;
	width: 100%;
	font-family: 'Roboto';
}

#app {
	margin: 0 auto;
	width: 1024px;
}