@import (css) "../fonts/roboto/Roboto.css";//roboto font
@import (css) "../fonts/font-awesome/css/font-awesome.min.css";//font-awesome icons

@main-bg: rgb(235,231,223);
@border-content: #CCC;
@brand-primary: darken(#428bca, 6.5%); // #337ab7
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;

html,
body{
	height: 100%;
	width: 100%;
	font-family: 'Roboto';
	background-color: @main-bg;
}

#app{
	margin: 0 auto;
	width: 1024px;

	.demo-tabs{
		.demo-tab{
			display: inline-block;
			width: 10em;
			text-align: center;
			padding: 1em 0;
			cursor: pointer;
			font-size: 1.1em;
			font-weight: bold;
			border-top: 2px solid @border-content;
			border-right: 2px solid @border-content;
			&.active{
				cursor: default;
				background-color: #fff;
			}
			&:first-child{
				border-left: 2px solid @border-content;
			}
		}
	}

	.demo-content{
		margin-top: -2px;
		border: 2px solid @border-content;
		background-color: #fff;
		padding: 1em;

		code{
			display: inline-block;
			margin: 0.25em 0 !important;
			&.code-no-radius{
				border-radius: 0;
			}
			&.code-bg-white{
				background-color: white;
			}
			&.code-bg{
				background-color: #EBE7DF;
			}
		}

		.CodeMirror {
		  //border: 1px solid #eee;
		  height: auto;
		}
		.margin-top{
			margin-top: 1em;
		}

		.content-bullet{
			font-size: 1.1em;
		}

		#code-layoutConfig{
			margin-top: 1em;
			border: 1px solid @brand-primary;
		}
	}
}